<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.regan.service.a.dao.DataWechatBindMapper">
  <resultMap id="BaseResultMap" type="com.regan.service.a.model.DataWechatBind">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="bind_id" jdbcType="INTEGER" property="bindId" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="openid" jdbcType="CHAR" property="openid" />
    <result column="customer_number" jdbcType="CHAR" property="customerNumber" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
  </resultMap>
</mapper>